:root{
    --primario:#0D1F22;
    --segundo:#264027;
    --tercero:#6F732F;
}

html body .container{
    background-color: var(--primario);
    color:#DEDEDE;
}

HTML BODY .form__input{
    border-radius: 10px;
}
html body .form__input:focus{
    color:#DEDEDE;
}