body {
    font-family: Arial, sans-serif;
    background-image: url('./1.jpg'); 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

textarea{resize: none !important;}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-card h2 {
    margin-bottom: 20px;
}

.glass-card .form-control, .glass-card .form-control-file {
    background-color: rgba(255, 255, 255, 0.021);
    border: none;
    border-radius: 5px;
    color: #fff;
}

.glass-card .form-control:focus, .glass-card .form-control-file:focus {
    box-shadow: none;
    border-color: #fff;
}

.glass-card label {
    color: #fff;
}

.glass-card .btn-primary {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}

.glass-card .btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.glass-card .form-control{
    border: 1px solid rgba(255, 255, 255, 0.4);
}

/* boton agregar imagen */
.glass-card .form-control-file {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.glass-card .form-control-file:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.glass-card .form-control-file::-webkit-file-upload-button {
    visibility: hidden;
}

.glass-card .form-control-file::before {
    content: 'Seleccionar archivo';
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.glass-card .form-control-file:hover::before {
    background-color: rgba(255, 255, 255, 0.2);
}

.glass-card .form-control-file:active::before {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Fin foton agregar imagen */
/* boton cancelar */
.glass-card .btn-secondary {
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.3);
    color: #fff;
}

.glass-card .btn-secondary:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.glass-card .btn-secondary:active {
    background-color: rgba(255, 0, 0, 0.3);
}
