*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.links a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
}
textarea{
    resize: none;
}