@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8ecd1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    width: 300px;
    background-color: #e1f3da;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label, input {
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #b8d5b3;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #a4c4a0;
}